// 网格式布局基础   
  [class*="hs-list-col-"]{
      overflow: hidden;
      &:after {
          content: "";
          display: table;
          clear: both;
      }
      >.hs-list-box {
          display: block !important;
      }    
      >.hs-list-box>.hs-list {
        width:100%; //单列宽度
        position: relative;
        float: left;
        box-sizing: border-box;
      } 
  }
    
  
  //定义边距等级数
  $marginGrade:6;
  //定义边距规则
  @function getmargin($k) {
    @return $k * 5;
  }
  
  /* 列间距 */
  @for $k from 1 through $marginGrade {
    $margin: getmargin($k);
    // 添加边距
    .hs-list-col-gap-#{$margin}>.hs-list-box>.hs-list {
        margin-right: #{$margin}px;
    }
     // 网格布局单元格空隙优化处理
    .hs-list-col-gap-#{$margin}>.hs-list-box {
        margin-right: -#{$margin}px;
    }
  }
  
  
  /* 列属性 */

    // 列空隙 间隔线 
    :root{
        --hs-list-col-gapline-width: 1px;   // 间隔线宽度
        --hs-list-col-gapline-color: gray; // 间隔线颜色
        --hs-list-col-gapline-height: 10px; // 间隔线高度
    }

  @for $col from 2 through 12 {
    //单元格基本列宽
    .hs-list-col-#{$col}>.hs-list-box>.hs-list {
        width: calc(100% / #{$col});
    }

    // 列间隔线
    .hs-list-col-#{$col}.hs-list-col-gapline>.hs-list-box>.hs-list:not(:nth-child(#{$col}n), :last-child):after {
        content:"";
        border:var(--hs-list-col-gapline-width) solid var(--hs-list-col-gapline-color);
        height:var(--hs-list-col-gapline-height);
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        font-weight: normal;
    }

    //单元格空隙
    @for $k from 1 through $marginGrade {
        $margin: getmargin($k);
        .hs-list-col-#{$col}.hs-list-col-gap-#{$margin}>.hs-list-box>.hs-list {
            width: calc((100% - #{$col} * #{$margin}px) / #{$col});
        }
        .hs-list-col-#{$col}.hs-list-col-gap-#{$margin}.hs-list-col-gapline>.hs-list-box>.hs-list:not(:nth-child(#{$col}n), :last-child):after {
            right: calc(-#{$margin}px / 2);
        }
    }
    // 每行首个单元格清除浮动，防止float引起的错位
    .hs-list-col-#{$col}>.hs-list-box>.hs-list:nth-child(#{$col}n+1) { // n(0, 1, 2, 3, ...)
        clear: left;
    }
  }
  
  