//定位
//1.定位类型
$position_list:absolute,
relative,
fixed;
@each $position_val in $position_list {
    .hs-child-position-#{$position_val}>.hs,
    .hs-position-#{$position_val} {
        position: $position_val;
    }
}

//2.定位层级设置
$z_index_list:1,
10,
100,
1000,
10000;
@each $z_index_val in $z_index_list {
    .hs-child-z-index-#{$z_index_val}>.hs,
    .hs-z-index-#{$z_index_val} {
        z-index: $z_index_val;
    }
}