//文本
//1.文本对齐方式
$text_align_list:left,
center,
right,
justify;
@each $text_align_val in $text_align_list {
    .hs-child-text-align-#{$text_align_val}>*,
    .hs-text-align-#{$text_align_val} {
        text-align: $text_align_val;
    }
}

//2.文本缩进
@for $i from 1 through 2 {
    .hs-child-text-indent-#{$i}>*,
    .hs-text-indent-#{$i} {
        text-indent: $i + em;
    }
}

//3.字体加粗
.hs-child-font-weight-bold>*,
.hs-font-weight-bold {
    font-weight: bold;
}

//4.文本装饰
$text_decoration_list:underline,
overline,
line-through,
none;
@each $text_decoration_val in $text_decoration_list {
    .hs-child-text-decoration-#{$text_decoration_val}>*,
    .hs-text-decoration-#{$text_decoration_val} {
        text-decoration: $text_decoration_val;
    }
}

//5.文本超出元素宽度不换行
.hs-child-white-space-nowrap>*,
.hs-white-space-nowrap {
    white-space: nowrap;
}

//6.溢出文本显示省略号
[class*='hs-child-line-clamp-']>*,
[class*='hs-line-clamp-'] {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@for $line from 1 through 6 {
    .hs-child-line-clamp-#{$line}>*,
    .hs-line-clamp-#{$line} {
        -webkit-line-clamp: $line;
    }
}
//7.字体大小
//整数字体[1-5]em
@for $k from 1 through 5 {
    .hs-child-font-size-#{$k}>*,
    .hs-font-size-#{$k} {
        font-size: $k + em;
    }
}

//小数中字体[1.1-4.9]em
@for $k from 1 through 4 {
    @for $j from 1 through 9 {
        $val: $k + calc($j / 10);
        .hs-child-font-size-0#{$k}0#{$j}>*,
        .hs-font-size-0#{$k}0#{$j} {
            font-size: $val + em;
        }
    }
}

//小数小字体[0.1-0.9]em
@for $k from 1 through 9 {
    $val: calc($k / 10);
    .hs-child-font-size-0#{$k}>*,
    .hs-font-size-0#{$k} {
        font-size: $val + em;
    }
}
//8.字体禁止选中
    .hs-child-user-select-none>*,
    .hs-user-select-none {
       -ms-user-select: none;
       -webkit-user-select: none;
       -moz-user-select: none;
       user-select: none;
    }