//颜色字典
$color_map:(
        "black": black,
        "blue": blue,
        "gray": gray,
        "green": green,
        "red": red,
        "white": white,
        "yellow": yellow,
        "primary": #409EFF,
        "success": #67C23A,
        "warning": #E6A23C,
        "danger": #F56C6C,
        "info": #909399
);

//1.字体颜色 

// 透明色transparent
.hs-child-color-transparent>*,
.hs-child-hover-color-transparent>:hover,
.hs-color-transparent,
.hs-hover-color-transparent:hover {
    color: transparent
}

// 其它色
@each $color_map_key, $color_map_val in $color_map {
    .hs-child-color-#{$color_map_key}>*,
    .hs-color-#{$color_map_key} {
        color: $color_map_val;
    }
    .hs-child-hover-color-#{$color_map_key}>*:hover,
    .hs-hover-color-#{$color_map_key}:hover {
        color: $color_map_val;
    }
    //带透明度色
    @for $alpha from 1 through 9 {
        $alpha-index: calc($alpha / 10);
        .hs-child-color-#{$color_map_key}-0#{$alpha}>*,
        .hs-color-#{$color_map_key}-0#{$alpha} {
            color: rgba($color_map_val, $alpha-index);
        }
        .hs-child-hover-color-#{$color_map_key}-0#{$alpha}>*:hover,
        .hs-hover-color-#{$color_map_key}-0#{$alpha}:hover {
            color: rgba($color_map_val, $alpha-index);
        }
    }
}


//2.背景色 

// 透明色transparent
.hs-background-color-transparent,
.hs-child-background-color-transparent>*,
.hs-child-hover-background-color-transparent>:hover,
.hs-hover-background-color-transparent:hover {
    background-color: transparent
}

// 其它色
@each $color_map_key, $color_map_val in $color_map {
    .hs-child-background-color-#{$color_map_key}>*,
    .hs-background-color-#{$color_map_key} {
        background: $color_map_val;
    }
    .hs-child-hover-background-color-#{$color_map_key}>*:hover,
    .hs-hover-background-color-#{$color_map_key}:hover {
        background: $color_map_val;
    }
    //带透明度色
    @for $alpha from 1 through 9 {
        $alpha-index: calc($alpha / 10);
        .hs-child-background-color-#{$color_map_key}-0#{$alpha}>*,
        .hs-background-color-#{$color_map_key}-0#{$alpha} {
            background: rgba($color_map_val, $alpha-index);
        }
        .hs-child-hover-background-color-#{$color_map_key}-0#{$alpha}>*:hover,
        .hs-hover-background-color-#{$color_map_key}-0#{$alpha}:hover {
            background: rgba($color_map_val, $alpha-index);
        }
    }
}

// 3.自定义主体颜色
// 3.1 字体颜色
.hs-child-color-user>*,
.hs-child-hover-color-user>:hover,
.hs-color-user,
.hs-hover-color-user:hover {
    color: var(--hs-color)
}

// 3.2 背景颜色
.hs-background-color-user,
.hs-child-background-color-user>*,
.hs-child-hover-background-color-user>:hover,
.hs-hover-background-color-user:hover {
    background-color: var(--hs-background-color)
}

// 3.3 边框色
.hs-border-color-user,
.hs-child-border-color-user>*,
.hs-child-hover-border-color-user>:hover,
.hs-hover-border-color-user:hover {
    border-color: var(--hs-border-color)
}

// 3.4 输入框 placeholder 色
.hs-child-placeholder-color-user>::-webkit-input-placeholder {
    color: var(--hs-placeholder-color)
}

.hs-child-placeholder-color-user>::-moz-placeholder {
    color: var(--hs-placeholder-color)
}

.hs-child-placeholder-color-user>:-ms-input-placeholder {
    color: var(--hs-placeholder-color)
}
.hs-placeholder-color-user::-webkit-input-placeholder {
    color: var(--hs-placeholder-color)
}

.hs-placeholder-color-user::-moz-placeholder {
    color: var(--hs-placeholder-color)
}

.hs-placeholder-color-user:-ms-input-placeholder {
    color: var(--hs-placeholder-color)
}